<header>
   <div class="top-header content">
       <a href="/" class="logo">
           C<i>a</i>lm
           <small>Free Creative Simple Portfolio</small>
       </a>
       <nav>
           <ul>
               <li>
                   <a href="#" class="active">{{navItem[0]}}</a>
               </li>
               <li>
                   <a href="#">{{navItem[1]}}</a>
               </li>
               <li>
                   <a href="#">{{navItem[2]}}</a>
               </li>
               <li>
                   <a href="#">{{navItem[3]}}</a>
               </li>
               <li>
                   <a href="#">{{navItem[4]}}</a>
               </li>
           </ul>
       </nav>
       <form class="search-box">
           <button class="btn-search"></button>
       </form>
   </div>
    <div class="bottom-header content">
        <div class="heading">
            <h1>
                Welcome Ladies & Gents to Calm Website.
            </h1>
            <small>A theme more stylish than any other on ThemeForest.</small>
        </div>
        <div class="soc-box">
            <h4>FIND US ONLINE</h4>
            <a href="#" class="soc tw"></a>
            <a href="#" class="soc fb"></a>
            <a href="#" class="soc pink"></a>
            <a href="#" class="soc gl"></a>
            <a href="#" class="soc leaf"></a>
        </div>


    </div>
</header>
