<header>
   <div class="top-header content">
       <a href="/" class="logo">
           C<i>a</i>lm
           <small>Free Creative Simple Portfolio</small>
       </a>
       <nav>
           <ul>
               <li>
                   <a href="#" class="active">{{navItem[0]}}</a>
               </li>
               <li>
                   <a href="#">{{navItem[1]}}</a>
               </li>
               <li>
                   <a href="#">{{navItem[2]}}</a>
               </li>
               <li>
                   <a href="#">{{navItem[3]}}</a>
               </li>
               <li>
                   <a href="#">{{navItem[4]}}</a>
               </li>
           </ul>
       </nav>
   </div>
    <div class="bottom-header content">

    </div>
</header>
