main{
  background: #34495e;
  padding: 38px 0 70px 0;

  .tabs-filter{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #ecf0f1;
    font-weight: 700;
    li{
      margin: 0 4px;
      &:not(:nth-last-child(1)):after{
        content: '/';
        display: inline-block;
        text-indent: 7px;
      }
    }
  }
}