<div class="article-list">
    <ul class="tabs-filter content">
        <li>
            <a href="#">All</a>
        </li>
        <li>
            <a href="#">Design</a>
        </li>
        <li>
            <a href="#">Branding</a>
        </li>
        <li>
            <a href="#">Graphic</a>
        </li>
        <li>
            <a href="#">Animation</a>
        </li>
        <li>
            <a href="#">Illustration</a>
        </li>
        <li>
            <a href="#">Photography</a>
        </li>
    </ul>
    <div class="article-grid content" *ngIf="articles$ | async as articles">
        <figure class="article-grid-item" *ngFor="let article of articles">
            <a href="" class="img" [routerLink]="article.id">
                <img src="{{article.img}}" alt="">
            </a>
            <figcaption class="caption">
                <h3>{{article.title}}</h3>
                <small>{{article.made}}</small>
            </figcaption>
        </figure>
    </div>
</div>