<main>
    <ul class="tabs-filter content">
        <li>
            <a href="#">All</a>
        </li>
        <li>
            <a href="#">Design</a>
        </li>
        <li>
            <a href="#">Branding</a>
        </li>
        <li>
            <a href="#">Graphic</a>
        </li>
        <li>
            <a href="#">Animation</a>
        </li>
        <li>
            <a href="#">Illustration</a>
        </li>
        <li>
            <a href="#">Photography</a>
        </li>
    </ul>
    <div class="article-grid content">
       <figure class="article-grid-item">
           <img src="../../assets/img/jpg/1.jpg" alt="">
           <figcaption class="caption">
               <h3>Working in Shop</h3>
               <small>Branding / Design </small>
           </figcaption>
       </figure>
    </div>
</main>