<h3>Cart: {{cartItem.length}}</h3>
<hr>

<p>
    <a [routerLink]="['shiping']">Shipping Prices</a>
</p>

<div *ngFor="let item of cartItem">
    <p>{{item.name}}</p>
    <p>{{item.price | currency}}</p>

    <button (click)="clear()">
        clear
    </button>
</div>


<form action="" [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">

    <label for="name">
        Name
    </label>
    <input id="name" type="text" formControlName="name">


    <label for="address">
        Address
    </label>
    <input id="address" type="text" formControlName="address">
    <br>

    <button class="button" type="submit">Purchase</button>
</form>